################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/c#/RequestTaskProcessing/bin/Debug/netcoreapp3.1/pythonnet
/c#/RequestTaskProcessing/bin/Debug/netcoreapp3.1/runtimes
/c#/RequestTaskProcessing/bin/Debug/netcoreapp3.1
/weight
